#body2{
    background-color: blueviolet;
    height: 100px;
    margin: 0px;
}

.menu{
    background-color: white;
    width: 100%;
    height: 150px;
    display: block;
}

#menu1{
    top: 0px;
    background-color: black;
    position: sticky;
}

#menu1 ul{
    list-style: none;
    margin: auto;
    padding: auto;
    text-align: center;
}

#menu1 > ul > li{
    color: white;
    background-color: red;
    width: 170px;
    height: 50px;
    display: inline-block;
    font-weight: 900;
    line-height: 500px;
}

#menu1 > ul > li:hover{
    background-color: red;
}

#menu2{
    position: relative;
    display: block;
    background-color: red;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}

#menu2> ul{
    list-style: none;
    text-align: center;
}

#menu> ul>li{
    color: white;
    background-color: red;
    width: 130px;
    height: 60px;
    display: inline-block;
    font-weight: 800;
    line-height: 60px;
    cursor: pointer;
}

#menu2>ul>li:hover{
    background-color: green;
    padding: 5px;
}


























































/*body{
    background-color: violet;
    margin: 0px;
    padding: 0;
    height: 1000px;
}

.pai{
    width: 300px;
    height: 300px;
}

.filho{
    width: 150px;
    height: 150px;
}

/* estatico */
.p-estatico{
    position: static;
    background-color: green;
}

.f-estatico{
    position: fixed;
    background-color: blue;
}

/* fixed */
.p-fixed{
    background-color: red;
    position: fixed;
    right: 5%;
    bottom: 0%;
}

.f-fixed{
    background-color: yellow;
    top: 20%;
    left: 30%;
}

/* stick */
.p-stick{
    background-color: pink;
    position: sticky;
    margin: 100px 0 0 320px;
    top: 0;
    left: 0;
}

.f-stick{
    background-color: black;
}

.p-relative{
    background-color: aqua;
    margin: 150px;
}

.f-relative{
    background-color: bisque;
    position: relative;
    left: 50px;
    top: 20px;
}

.p-absoulute-estatico{
    margin-top: 200px;
    background-color: sandybrown;
}

.f-absolute-estatico{
    top: 20px;
    left: 50px;
    background-color: purple;
}

.p-absoulute-nao-estatico{
    background-color: darkcyan;
    position: relative;
    margin-top: 15px;
}

.f-absolute-nao-estatico{
    background-color: deeppink;
    position: absolute;
    top: 20px;
    left: 30px;
}